
body {
  min-width: 1024px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Home{
  display: flex;
  flex-direction: row;
  h1{
    text-align: center;
  }


  }


.Dashboard{
  display: flex;
  flex-direction: row;
 
  margin-left: 0px;


  

}

.mainDashboard{
  display: flex;
  flex-direction:column;
  justify-content: space-around;
 
  margin-left: 5%;
  @media (max-width: 940px){
    
  }
}
.graphCarre{
  display: flex;
  flex-direction:row;
 justify-content: space-between;
 align-items: center;
  height: 500px;
  gap: 15px;

}
.activityInfo{
  width: 100%;
  p{
    font-family: Roboto;
    font-size: 5px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    
  }
 
  height: 320px;

 
  gap: 0px;
  opacity: 0px;
  margin-bottom: 20px;

}
.average{
  h2{
    font-family: Roboto;
    font-size: 5px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
  margin-top: 30px;
}
.headerDashboard{
  p{
    margin-left: 0px;
  }
}
.info{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  


  @media (max-width: 1263px){
    flex-direction: column;
  }
}
.resultat-item{
  display: flex;
  flex-direction: row;
}
.resultat-info{
  @media (max-width: 1060px){
    display: flex;
  
  }
}
ul{
  padding: 0px;
}
.titreactivityinfo{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}