
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Home{
  display: flex;
  flex-direction: row;
  h1{
    text-align: center;
  }


  }


.Dashboard{
  display: flex;
  flex-direction: row;
  h1{
    margin-left: 40px;
  }

}

.mainDashboard{
  display: flex;
  flex-direction:column;
  gap: 20px;
  margin-left: 40px;
}
.graphCarre{
  display: flex;
  flex-direction:row;
 justify-content: space-around;
  height: 500px;
  gap: 20px;

}
.activityInfo{
  p{
    font-family: Roboto;
    font-size: 5px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }


}
.average{
  h2{
    font-family: Roboto;
    font-size: 5px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
  }
}
.headerDashboard{
  p{
    margin-left: 40px;
  }
}
.info{
  display: flex;
  flex-direction: row;
}