.resultat-item {
  display: flex;
  flex-direction: row;
}
.resultat-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media (max-width: 1060px) {
    display: flex;
    flex-direction: row;
  }
}
.titreactivityinfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resultat-item p {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: black;
}
.nb {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
